* {
  margin: 0;
  padding: 0;
}
.resume-container {
  margin: 0;
  padding: 0;
  background-color: #060505;

  color: white;
  padding-top: 2rem;
}
.resume-content {
  width: 65%;
  padding-left: 350px;
  text-align: left;
  left: 25rem;
}
.resume-content h1 {
  font-size: 45px;
}
.resume-content p {
  font-size: 17px;
  line-height: 2;
}
.resume-holder {
  background-color: #292828;
  padding-left: 10rem;
  padding-right: 10rem;
}
.resume {
  padding: 1rem;
}
.resume img {
  width: 40rem;
}
