* {
  margin: 0;
  padding: 0;
}
.resume-container {
  color: white;
  padding-top: 3rem;
}
.resume-content {
  width: 60%;
  margin: auto;
  text-align: left;
  left: 25rem;
}
.resume-content h1 {
  font-size: 45px;
}
.resume-content p {
  font-size: 17px;
  line-height: 2;
}
.resume-holder {
  background-color: #292828;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.resume {
  /* background-color: aqua; */
  width: 65%;
  margin: auto;
}
.resume img {
  width: 40rem;
}

@media only screen and (max-width: 700px) {
  .resume img {
    width: 16rem;
  }
  .resume-content {
    width: 80%;

    margin: auto;
    top: 5rem;
  }
  .resume {
    /* background-color: aqua; */
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 1500px) {
  .resume img {
    width: 20rem;
  }
}
