* {
  margin: 0;
  padding: 0;
}
.resume-container {
  margin: 0;
  padding: 0;
  background-color: #060505;
  height: 160vh;
  color: white;
}
.resume-content {
  justify-content: center;

  position: absolute;

  float: right;
  text-align: left;
  left: 20rem;
  top: 3rem;
}
.resume-content h1 {
  font-size: 45px;
}
.resume-content p {
  font-size: 17px;
  line-height: 2;
}
.resume-holder {
  background-color: #292828;
  padding-left: 10rem;
  padding-right: 10rem;
}
.resume {
  padding: 1rem;
}
.resume img {
  width: 40rem;
}
