.side-nav {
  float: left;
  background-color: #0d0c0c;
  color: rgb(226, 224, 224);
  height: 100vh;
  width: 13%;
  position: fixed;
}
.side-nav ul {
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 10rem;
}

.side-nav ul li {
  padding: 1.5rem;
}
.side-nav a {
  text-decoration: none;
  color: white;
}

.side-nav .link-active {
  color: #f7c617;
  text-decoration: none;
}
