* {
  margin: 0;
  padding: 0;
}
.home-container {
  margin: 0;
  padding: 0;
  background-color: #060505;
  height: 100vh;
  color: white;
}
.home-content {
  justify-content: center;

  position: absolute;
  width: 57%;
  float: right;
  text-align: left;
  left: 25rem;
  top: 10rem;
}
.home-content h1 {
  font-size: 45px;
}
.home-content p {
  font-size: 17px;
  line-height: 2;
}
span {
  background-color: #212529;
  border-radius: 5px;
  padding: 3px;
}
