* {
  margin: 0;
  padding: 0;
}

.home-container {
  padding-top: 10rem;

  color: white;
}
.home-content {
  width: 60%;
  text-align: left;
  margin: auto;
}
.home-content h1 {
  font-size: 45px;
}
.home-content p {
  font-size: 17px;
  line-height: 2;
}
span {
  background-color: #212529;
  border-radius: 5px;
  padding: 3px;
}
@media only screen and (max-width: 700px) {
  .home-content {
    width: 80%;

    margin: auto;
    top: 1rem;
  }
  .home-container {
    padding-top: 6rem;

    color: white;
  }
}
