* {
  margin: 0;
  padding: 0;
}

.home-container {
  padding-top: 10rem;

  color: white;
}
.home-content {
  width: 60%;
  text-align: left;
  margin: auto;
  top: 10rem;
}
.home-content h1 {
  font-size: 45px;
}
.home-content p {
  font-size: 17px;
  line-height: 2;
}
span {
  background-color: #212529;
  border-radius: 5px;
  padding: 3px;
}
