.Main {
  margin: 0;
  /* background-color: #060505; */
  padding: 0;
  color: white;
}
.side-nav {
  float: left;
  background-color: #0d0c0c;
  color: rgb(226, 224, 224);
  height: 100vh;
  width: 11%;
  position: fixed;
  text-align: center;
  /* visibility: hidden; */
}
.side-nav ul {
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 10rem;
}

.side-nav ul li {
  padding: 1.5rem;
  cursor: pointer;
}
.side-nav a {
  text-decoration: none;
  color: white;
}

.side-nav .link-active {
  color: #f7c617;
  text-decoration: none;
}
#home {
  /* height: 100vh; */
  /* background-color: aqua; */
}
.linking {
  cursor: pointer;
  padding-left: 310px;
}

#about {
  /* height: 130vh; */
}

#project {
  /* height: 200vh; */
}
#resume {
  /* height: 180vh; */
}
#contact {
  /* height: 100vh; */
}

.side-nav .link-active {
  color: #f7c617;
  text-decoration: none;
}
.arrow {
  color: #f7c617;
  margin-left: 5px;
  transition: 0.5s;
}
.linking:hover {
  color: #f7c617;
  .arrow {
    transform: translateX(5px);
  }
}

@media only screen and (max-width: 700px) {
  .side-nav {
    visibility: hidden;
  }
  .linking {
    padding-left: 100px;
  }
}
