.App {
  margin: 0;
  background-color: #060505;
  padding: 0;
  color: white;
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 30px;
  width: 30px;
  transition: 0.5s;

  cursor: pointer;
}

.top-btn-position:hover {
  transform: translate(0, -10px);
}
